html, body {
    font-family: verdana, sans-serif !important;
    color: white;
}

div.sectionbody {
    font-family: verdana, sans-serif;
}

em, dt.hdlist1, td.hdlist1 {
    color: white;
}

a {
    color: #AAA;
}

tt {
    color: #CCCCCC;
}

ul > li > * {
    color: white;
}

.monospaced {
    color: #CCCCFF;
}
